{% extends 'base1.html' %}
{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-offset-2 loginbox">
    <div class="panel-info">
        <div class="panel-heading">
            <div class="panel-title">
                oh no!
            </div>
            <div style="padding-top: 30px" class="panel-body">
                There was problem activating your account. contact <a href="mailto:support@team.com">support@team.com</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

